/* hero.css */

.hero {
  background-color: #495e57;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  color: white;
  text-align: left;
  padding: 1rem;
}

.hero div {
  width: 40%;
}

.hero h1 {
  font-size: 3rem;
  margin: 0;
}

.hero p {
  font-size: 1rem;
  margin-top: 1rem;
}

.hero img {
  height: 60%;
  border-radius: 16px;
}
