.header {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;

  background-color: #f8f9fa;
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid #e0e0e0;
}

.header h1 {
  margin: 0;
  font-size: 2.5em;
  color: #333;
}

.header nav {
  margin-top: 10px;
}

.header nav li {
  display: inline;
}

.header nav a {
  margin: 0 15px;
  color: #333;
  text-decoration: none;
  transition: color 0.25s;
}

.header nav a:hover {
  color: #f48014;
}

.burger-menu {
  display: none;
}

.header .active {
  display: block;
  width: 100%;
  position: absolute;
  top: 5rem;
  left: 0px;
  background-color: #f8f9fabc;
  text-align: center;
  border-bottom: 1px solid #e0e0e0;
  transition: all 0.5s ease-in-out;
}

.header .active ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

@media screen and (max-width: 768px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .header h1 {
    font-size: 2em;
  }

  .header nav {
    display: none;
  }

  .header nav a {
    margin: 0 10px;
  }

  .burger-menu {
    display: block;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .burger-menu:hover {
    border: none;
    color: transparent;
    box-shadow: none;
    outline: none;
  }
}

@media screen and (max-width: 480px) {
  .header h1 {
    font-size: 1.5em;
  }

  .header nav a {
    margin: 0 5px;
  }

  .header nav a {
    margin: 0 5px;
  }
}
