.specials {
  background-color: #f9f9f9;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.specials-header {
  width: 60%;
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
}

.specials h2 {
  font-family: "Markazi Text", serif;
  font-size: 2rem;
  color: #333333;
  margin: 0px;
}

.specials h3 {
  font-size: 18px;
  color: #333333;
  line-height: 1.5;
}

.specials p {
  font-size: 16px;
  color: #4e4e4e;
  line-height: 1.5;
}

.specials .specials-list {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.specials .specials-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  border-radius: 5px;
  border-top: 1px solid #495e57;
  margin-bottom: 20px;
}

.specials .specials-item .specials-item-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: start;
  width: 75%;
}

.price {
  font-weight: bold;
  margin-right: 10px;
}

.specials .specials-item img {
  width: 20%;
  height: 100%;
  border-radius: 5px;
}

.specials .specials-item a {
  text-decoration: none;
  color: #333333;
}

.specials .specials-item a:hover {
  color: #ff6600;
}

@media screen and (max-width: 768px) {
  .specials {
    padding: 10px;
  }

  .specials-header {
    width: 80%;
  }

  .specials h2 {
    font-size: 1.5rem;
  }

  .specials h3 {
    font-size: 16px;
  }

  .specials p {
    font-size: 14px;
  }

  .specials .specials-list {
    width: 80%;
    gap: 10px;
    flex-wrap: wrap;
  }
}
