.testimonial-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.section-title {
  font-family: "Markazi Text", serif;
  font-size: 1.5rem;
  color: whitesmoke;
  margin-top: 40px;
  margin-bottom: 20px;
}

.testimonials {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  width: 70%;
}

.testimonial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.testimonial img {
  width: 100px;
  height: 100px;
  border-radius: 16px;
  margin-bottom: 20px;
}

.testimonial h3 {
  font-size: 1.2rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 10px;
}

.testimonial p {
  font-size: 1rem;
  font-weight: 400;
  color: #666;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .testimonial-container {
    padding: 10px;
    margin: 10px;
  }

  .testimonials {
    width: 90%;
  }

  .testimonial {
    padding: 10px;
    margin: 10px;
  }

  .testimonial img {
    width: 80px;
    height: 80px;
  }

  .testimonial h3 {
    font-size: 1rem;
  }

  .testimonial p {
    font-size: 0.8rem;
  }
}
